
// NEUTRAL

$color-primary-light : rgb(226, 224, 224);
// $color-primary-light : #eee;
$color-primary-dark: #fff;
// $color-primary-dark-blue : hsl(209, 23%, 22%);
// $color-primary-very-dark-blue : hsl(207, 26%, 17%);
// $color-primary-dark-gray : #858585;
// $color-primary-light-gray : hsl(0, 0%, 98%);
// $color-primary-white : hsl(0, 0%, 100%);
$color-black : #000;
$color-orange-light : rgba(255, 166, 0, 0.769);
$color-orange-dark : rgb(255, 72, 0);
$color-white : #ffffff;
$color-cyan: #2acfcf;


//PADDING AND MARGINS

$margin-bottom-very-small : 0.8rem;
$margin-bottom-small : 1.5rem;
$margin-bottom-medium : 3rem;
$margin-bottom-big: 8rem;
